#WOG 2018
#Archivos para ignorar en el repositorio

node_modules
.tmp
.sass-cache

**/bower_components or sometimes it is lib/**
hooks
platforms
plugins
www
hooks
.sourcemaps

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
*.swp
*.swo
*.log
*.DS_Store
*.settings
package-lock.json


.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/

$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
